    <br>
    <div class="row">
        <div class="col">
            <div class="col-md">
                <div class="card text-center text-white mb-3 bg-danger" id="customers">
                    <div class="card-header">
                        <h5 class="card-title">Customers</h5>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">{{ customers.count }}</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="col-md">
                <div class="card text-center text-white mb-3 bg-warning" id="customers">
                    <div class="card-header">
                        <h5 class="card-title">Pending Orders</h5>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">{{ pending }}</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="col-md">
                <div class="card text-center text-white mb-3 bg-success" id="delivered">
                    <div class="card-header">
                        <h5 class="card-title">Delivered Orders</h5>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">{{ delivered }}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>