# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\computer program study materials\furnitureStore\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
